.notfoundpage {
  display: flex;
  flex-direction: column;
  height: 100vh;}

  .textbox {
    margin: auto;
  }

  .text {
   
    font-size: 32px;
    font-weight: 700;
    line-height: 41px;
    color: #313237 ;
    margin-bottom: 8px;
    text-align: center;
  }

